*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.landing_page{
    position: relative;
    width: 100%;
    height: 50vh;
}

.landing_page_title{
    width: 100%;
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get_Started{
    width: 180px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
