
.parent{
    position: relative;
    top: 100px;
    width: 50%;
    height: 400px;
    margin: 0 auto;
}
.form{
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

.buttonGroup{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}


@media screen and (max-width:600px){
    .parent{
        position: relative;
        top: 100px;
        width: 100%;
        height: 400px;
        margin: 0 auto;
    }
    .form{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .buttonGroup{
        width: 70%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
}